<h1>Lista de afazeres</h1>

<% @lists.each do |list| %>
	<div class="list <%= color_list %>">
		<p> - <%= link_to "#{list.name}", show_list_path(list.id), id: "title" %> - </p>
		<%= link_to "", new_item_path(list.id), id: "add" %>
		<%= link_to "", delete_list_path(list.id), id: "delete", method: :delete %>

		<ul>
		<% list.items.each do |item| %>
			
			<li>
				<%= item.description %> 

				<%= link_to delete_item_path(item.id), method: :delete do |delete|  %>
					<%= image_tag "delete.png", class: "delete" %>
				<% end %>
			</li>
			
		<% end %>
		</ul>
	</div>


<% end %>